body {
    margin: 0;
}
section {
    height: 100vh;
    background: url(https://assets.nflxext.com/ffe/siteui/vlv3/8f12b4f0-a894-4d5b-9c36-5ba391c63fbe/20daee97-3054-4bd6-9088-13c2fefc1a54/KR-ko-20230320-popsignuptwoweeks-perspective_alpha_website_large.jpg);
}

section::before {
    content: '';
    background: linear-gradient(to right, black, transparent);
    position: absolute;
    left: 0;
    height: 100%;
    width: 80%;
}

h1 {
    color : white;
    font-size: 6em;
    position: absolute;
    top : 200px;
    left: 300px;
    font-family: sans-serif;
}